* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: relative;
}

#main-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 40px;
    color: #8e44ad;
}

.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.img-container img {
    width: 100%;
    margin-top: 10px;
}


@media screen and (max-width: 900px) {
    #main-title {
        font-size: 29px;
    }

    .img-container {
        width: 97%
    }
}

